


.main{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /* border: 2px solid red; */
    background-color: rgba(139, 105, 233, 0.134);
    width: 400px;
    height: 450px;
    margin:40px auto; 
    box-shadow: 10px 10px 100px 1px rgba(0, 0, 0, 0.558);
}
.Form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    /* border: 2px solid red; */
    width: 80%;
    height: 200px;
}

.Form Input
{
    width: 300px;
    padding: 10px;
    border: none;
    background-color: rgb(238, 189, 144);
}

.Form button
{
    margin-top: 20px;
    padding: 4px;
    border: none;
    background-color: lightgreen;
    width: 100px;

}

.myeye
{
    position: absolute;
    right: 19px;
    bottom: 54px;
}